# Astro build output
dist/
.astro/

# Node modules
node_modules/

# Temporary files
.DS_Store
*.log

# Environment variables
.env
.env.*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Cloudflare
.wrangler/
