# Hugo default output directory
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Node modules
/node_modules/

# Temporary files
.hugo_build.lock
.DS_Store
*.log

# Environment variables
.env
.env.*

# Python virtual environment
/venv/
/.venv/
/__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Azure deployment files
.azure/
