<div class="sidebar">
  {{ if .Params.toc }}
    {{ with .TableOfContents }}
      <aside class="toc">
        <nav>
          <p class="sidebar__heading">Table Of Contents</p>
          {{ . }}
        </nav>
      </aside>
      <hr />
    {{ end }}
  {{ end }}

  {{ $cv := index $.Site.Data.json_resume $.Site.Language.Lang }}
  
  <!-- Check if we're in Kevin's section and use his resume data instead -->
  {{ if in .RelPermalink "/kevinherrin/" }}
    {{ $cv = $.Site.Data.authors.kevin.resume }}
  {{ end }}
  
  {{ if $cv.basics }}
    <aside class="bio">
      {{ partial "json-resume/basics.html" . }}

      {{ if $.Site.Params.tagCloud.enable }}
        <hr />
      {{ end }}
    </aside>
  {{ end }}

  {{ if $.Site.Params.tagCloud.enable }}
    <aside>
      {{ partial "tag-cloud.html" . }}
    </aside>
  {{ end }}
</div>
